
.tabletitle {
    padding: 2% 1% .4% 1%;
    border-bottom: 1px solid black;
    width: 98%;
    margin: 0 auto 0 auto;}

.tables {
    width: 98%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 7px;
    height: 100%;}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

/* Table 1 */

th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    line-height: 1.2em;

}



td {
    padding: 8px 2em;
    text-align: left;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    line-height: 1.2em;

}

th:last-child, td:last-child {
    border-right: none;
    padding-right: 0;}

th:first-child, td:first-child {
    padding-left: 0;}

tr#lastrow td, tr#lastrow th {
    border-bottom: none;

}

/* Table 2 */
.t2row th {
    text-align: left;
}

.t2row th p:nth-child(1) {
    font-size: 125%;
}

.t2hrow th p {
    font-size: 125%;
}

.t2row th p:nth-child(2) {
    font-weight: normal;
}
