/* My WEB120 Portal Website Styles */

html {
    background-color:#648767;
}

div.wrapper {
    background-color:#C6EBBE;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#000;
}

.logo {
    color:#648767;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
}

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

.embed-container iframe {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/* End Embed Responsively Rules! */

footer {
    clear:both;
}

/* START RESPONSIVE STYLES */

/* DESKTOP  If there is a res bigger than 1400, then do everything in wrapper*/
@media all and (min-width:1400px) {

    div.wrapper {
        width:90%;
        margin:auto;
    }

    section {
        width:55%;
        float:left;
        margin: 1em;
    }



    section > h2 {
        margin-left: 0;
    }
    section > p {
        float: right;
    }

    aside > h2 {
        margin-left: 0;
        margin-top: 2em;
        margin-bottom: .5em;
    }

    aside {
        width:34%;
        float:right;
        margin: 1em;
    }

    footer {
        margin: 1em;
    }

    img.desktop {
        float:left;
        width:50%;
    }

    img.tablet, img.phone {
        display:none;
    }

    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {

    section {
        width:55%;
        float:left;
    }


    section > h2 {
        margin-left: 0;
    }

    aside {
        width:34%;
        float:right;
        margin: 1em;
    }

    aside > h2 {
        margin-left: 16px;
    }

    form, section, footer, div.contact-feedback {
        margin: 1em;
    }

    img.tablet {
        width:100%;
    }

    img.phone, img.desktop {
        display:none;
    }

    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }

    input:required {
        max-width: 90%;
    }

    input:optional, textarea:optional {
        max-width: 90%;
    }

    .g-recaptcha {
        transform: scale(0.77);
        transform-origin:0 0;
    }
}


/* PHONE */
@media all and (max-width:736px) {

    form, section, aside, footer, div.contact-feedback {
        margin: 1em;
    }

    section > h2 {
        margin-left: 0;
    }

    aside > h2 {
        margin-left: 16px;
    }
    img.phone {
        width:100%;
    }

    img.tablet, img.desktop {
        display:none;
    }

    input:required, input:optional, textarea:optional, div.contact-feedback {
        max-width: 90%;
    }



    .g-recaptcha {
        transform: scale(0.82);
        transform-origin:0 0;
    }

}

