/* start reCAPTCHA styles */

form>div {
    margin:1em;
}

/* writes to small text above reCAPTCHA upon failure */

form, div.contact-feedback {
    border: 1px solid black;
    border-radius: 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: scroll;
}

div.contact-feedback > p, h2 {
    margin: 1em;
}

.dateFeedback{
    font-style:italic;
    font-size:70%;
    font-weight:bold;
    color:#f00;
}

input:required {
    height: 18px;
}

input:optional, textarea:optional {
    background-color:#f1f1f1;
    border:1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 0.3em 0.5em;
}

fieldset {
    border: 1px solid #ccc;
    max-width: 350px;
}

legend {
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* end reCAPTCHA styles */

