/* My WEB120 Portal Website Styles */

/*html {
    background-color:#648767;
}

div.wrapper {
    background-color:#C6EBBE;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#000;
}

.logo {
    color:#648767;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}
*/
/* Embed Responsively Rules! */
/*div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/****************************
START FP Styles
 ****************************/

html {
    background-color:#ffffff;
    scroll-behavior: smooth;
}

.wrapper {
    margin: auto;
}

#header {
    margin-bottom: 0;
    background-color: transparent; /* Makes background image visible */
}





.hdr-bg-img {
    background-image: url("../images/stock/plants-stock-8.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

h1, h2, h3, p {
    font-family: 'Montserrat Alternates', sans-serif;
}


.page-ID-container {
    overflow: hidden; /* Keeps page ID container on the page*/
}

.page-ID {
    padding: 10px 30px;
}

main, aside {
    overflow: hidden;
}
aside p, main p {
    line-height: 1.4em;
    padding: 10px 30px;
}

aside h3, main h2 {
    padding: 10px 30px;
}

footer {
    clear:both;
    background-color: #F9E7E7;
    text-align: center;
}



.main-img-1 {
    float: left;
    margin-left: 30px;
}

.main-img-2 {
    float: right;
    margin-right: 30px;
}

.footer-icons {
    text-decoration: none;
}

footer > p > a:first-of-type {
    padding-right: 10px;
}

footer > p > a:last-of-type {
    padding-left: 10px;
}

/* START RESPONSIVE STYLES */

/* DESKTOP  If there is a res bigger than 1280, then do everything in wrapper*/
@media all and (min-width:769px) {


    img.desktop {
        float: left;
        width: 50%;
    }

    img.tablet, img.phone {
        display: none;
    }

    main img {
        max-width: 43.75%;
        height: auto;
        margin-bottom: 10px;
    }

    .header {
        height: 360px;
    }

}


/* PHONE */


@media all and (max-width:768px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    input:required, input:optional, textarea:optional, div.contact-feedback {
        max-width: 90%;
    }


    .g-recaptcha {
        transform: scale(0.82);
        transform-origin:0 0;
    }

    main img {
        max-width: 40.5%;
        height: auto;
        margin-bottom: 10px;
    }

}

