/* My WEB120 Portal Website Styles */

/*Color Palette:
Flourescent Orange: #FFBF00
Paradise Pink: #E83F6F
Lapis Lazuli: #2274A5
Linen: #F9E7E7
White: #FFFFFF
 */

/****************************
    START FP GLOBAL STYLES
 ****************************/

html {
    background-color:#F9E7E7;
    scroll-behavior: smooth;
}

.wrapper {
    margin: auto;
}

#header {
    margin-bottom: 0;
    background-color: transparent; /* Makes background image visible */
}

header > a {
    text-decoration: none;
}



.hdr-bg-img {
    background-image: url("../images/stock/plants-stock-8.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, p {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4 {
    color: #F9E7E7;
}


.page-ID-container {
    overflow: hidden; /* Keeps page ID container on the page*/
}

.page-ID, .page-ID-home {
    margin-bottom: 0!important;
    margin-left: 30px!important;
    background: #F9E7E7!important;
    color: #2274A5;
}

.page-ID {
    padding: 0;
}

.page-ID-home {
    padding: 19px 0 0 0;
}

main, aside {
    overflow: hidden;
}
aside p, main p {
    line-height: 1.4em;
    padding: 10px 30px;
}

aside h3, aside h4, main h2 {
    padding: 10px 30px;
}

footer {
    clear:both;
    background-color: #F9E7E7;
    text-align: center;
}



.main-img-1 {
    float: left;
    margin-left: 30px;
}

.main-img-2 {
    float: right;
    margin-right: 30px;
}

.footer-icons {
    text-decoration: none;
}

footer > p > a:first-of-type {
    padding-right: 10px;
}

footer > p > a:last-of-type {
    padding-left: 10px;
}

/****************************
     END FP GLOBAL STYLES
 ****************************/

/****************************
   START PLANT PAGES STYLES
 ****************************/

.cname {
    margin-bottom: 0;
}

.sname {
    padding-top: 0;
    margin-top: 0;
}

.add-to-cart {
    display: inline-block;
}

#product-component-796c85fd6f4 {
    padding-left: 30px;
}

/****************************
    END PLANT PAGES STYLES
 ****************************/

/****************************
  START ACCORDION FAQ STYLES
  (https://www.w3schools.com/howto/howto_js_accordion.asp)
 ****************************/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: #F9E7E7;
    color: #2274A5;
    cursor: pointer;
    padding: 18px 30px;
    margin: auto;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #FFBF00;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0;
    margin: auto;
    width: 100%;
    background-color: #FFBF00;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.faq-container {
    margin: 0 30px;
}

/****************************
  END ACCORDION FAQ STYLES
 ****************************/

/****************************
  START RESOURCE LINK STYLES
 ****************************/
.resource-links p {
    margin-bottom: 0;
}
.resource-links ul {
    margin-top: 0;
    list-style-type: none;
}

.resource-links a {
    color: #F9E7E7;
    line-height: 1.4em;
}

.resource-links a:link, .resource-links a:visited {
    text-decoration: none;

}

.resource-links a:hover, .resource-links a:active {
    text-decoration: underline;
    text-decoration-color: #FFBF00;
}

/****************************
   END RESOURCE LINK STYLES
 ****************************/

/****************************
    START IG IFRAME STYLES
 ****************************/

iframe {
    width: 100%;
    border:0;
    overflow:hidden;
}

/****************************
    END IG IFRAME STYLES
 ****************************/

/****************************
    START RESPONSIVE STYLES
 ****************************/

/* DESKTOP  If there is a res bigger than 1280, then do everything in wrapper*/
@media all and (min-width:769px) {

    main img {
        max-width: 43.75%;
        height: auto;
        margin-bottom: 10px;
    }

    .header {
        height: 360px;
    }

}


/* PHONE */
@media all and (max-width:768px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    .g-recaptcha {
        transform: scale(0.82);
        transform-origin:0 0;
    }

    main img {
        max-width: 40.5%;
        height: auto;
        margin-bottom: 10px;
    }

}

/****************************
    END RESPONSIVE STYLES
 ****************************/