nav {
  overflow: hidden;
  background-color: #F9E7E7;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-top: 0;
}

nav a {
  float: left;
  display: block;
  text-decoration: none;
  width: 20%;
  text-align: center;
  color: #2274A5;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 20px 0;
}

nav a:hover {
  text-shadow: 2px 2px 5px #ffffff;
}
nav a:active {
  text-shadow: 2px 2px 5px #ffffff;
}

/*.sticky {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*width: calc(100% - 16px);*/
/*}*/

/*.sticky + #pageID {*/
  /*padding-top: 60px;*/
/*}*/