
/**********************
        NAV STYLES
 **********************/

nav {
  overflow: hidden;
  /*background-color: #F9E7E7;*/
}

nav a {
  float: left;
  display: block;
  text-decoration: none;
  width: 20%;
  text-align: center;
  color: #2274A5;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding: 20px 0;
  font-size: 20px;
}

nav a:hover {
  text-shadow: 2px 2px 5px #ffffff;
}
nav a:active {
  text-shadow: 2px 2px 5px #ffffff;
}

/*************************
    STICKY NAV STYLES
 ************************/



.sticky + #content-start {
  padding-top: 60px;
}

/*************************
   SCROLLING NAV STYLES
 ************************/

.navbar-scroll-color.scrolled {
  background-color: black;
  transition: background-color 200ms linear;
}

@media all and (min-width:769px) {

  .sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 16px);
    background-color: #F9E7E7 !important;
    transition: background-color .4s ease-out;
  }

  .un-sticky {
    transition: background-color .4s ease-out;
  }

  .navbar .icon {
    display: none;
  }

}

@media all and (max-width:768px) {

  .sticky {
    position: fixed;
    top: 0;
    width: calc(100%);
    background-color: #F9E7E7 !important;
    transition: background-color .4s ease-out;
  }

  .un-sticky {
    transition: background-color .4s ease-in;
  }

}

/*************************
   RESPONSIVE NAV STYLES
 ************************/

@media all and (max-width:768px) {

  .navbar a:not(:first-child) {display: none;}

  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: -88px;
    top: 10px;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 10px 30px !important;
  }


}