
/**********************
        NAV STYLES
 **********************/

nav {
  overflow: hidden;
  /*background-color: #F9E7E7;*/
}

nav a {
  float: left;
  display: block;
  text-decoration: none;
  width: 25%;
  text-align: center;
  color: #F9E7E7;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0;
}

nav a:hover {
  text-shadow: 2px 2px 5px #E83F6F;
}
nav a:active {
  text-shadow: 2px 2px 5px #E83F6F;
}

#banner-heading {
  padding-bottom: 140px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 5em;
  color: #F9E7E7;
  line-height: 97px;
}

#cart-icon {
  height: 30px;
}

/*************************
    STICKY NAV STYLES
 ************************/



/*.sticky + #content-start {*/
  /*padding-top: 60px;*/
/*}*/

/*************************
   SCROLLING NAV STYLES
 ************************/

.navbar-scroll-color.scrolled {
  background-color: black;
  transition: background-color 200ms linear;
}

@media all and (min-width:769px) {

  nav {
    padding: 18px 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 16px);
    background-color: #2274A5 !important;
    transition: background-color .4s ease-out;
    z-index: 1;
    padding-top: 19px;
    padding-bottom: 18px;

  }

  .un-sticky {
    transition: background-color .4s ease-out;
  }

  .navbar .icon {
    display: none;
  }

}

/*************************
   START HEADER STYLES
 ************************/
/* Keeps  nav in same position when header text is compressed*/
@media all and (min-width:769px) and (max-width:801px) {
  #banner-heading {
    padding-bottom: 43px;
  }
}

/* Keeps  responsive nav in same position when header text is compressed*/
@media all and (min-width:633px) and (max-width:768px) {
  #banner-heading {
    padding-bottom: 182px;
  }
}

@media all and (min-width:416px) and (max-width:632px) {
  #banner-heading {
    padding-bottom: 85px;
  }
}

@media all and (max-width:415px) {
  #banner-heading {
    padding-bottom: 51px;
    line-height: 1.2em;
  }
}

/*************************
     END HEADER STYLES
 ************************/

@media all and (max-width:768px) {

  #banner-heading {
    font-size: 4em;
  }

  nav a {
    line-height: 1.4em;
  }

  .sticky {
    position: fixed;
    top: 0;
    margin-top: 0;
    width: calc(100%);
    background-color: #2274A5 !important;
    transition: background-color .4s ease-out;
  }

  .un-sticky {
    transition: background-color .4s ease-in;
  }

  /*************************
   END NAV STYLES
 ************************/
  /*************************
   RESPONSIVE NAV STYLES
 ************************/

  .navbar a:not(:first-child) {display: none;}

  .navbar a:first-child {
    text-align: left;
    margin-left: 30px;
  }

  .navbar a.icon {
    float: right;
    display: block;
    text-align: right;
    margin-right: 30px;
  }

  .navbar.responsive {
    position: relative;
    margin-top: -10px;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 10px;
    margin: 0 30px !important;
    text-align: right;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin: 10px 30px !important;
  }

}



