/*
Gallery styling from @duggiemitchell on CodePen.
https://codepen.io/duggiemitchell/pen/OyGJqQ?editors=1100
 */


/****************************
 START DEFAULT GALLERY STYLES
 ****************************/

.wrap {
    overflow: hidden;
    margin: 10px;
}

.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.boxInner img {
    width: 100%;
}

.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.plant-gallery img {
    max-width: 100%;
}

.no-touch { /* To align with page ID */
    margin: auto 10px;
}

section.no-touch .boxInner:hover .titleBox, section.touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

.force-cart {
    display: none;
}


@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }

    .plant-gallery img { /* Overwrites FP main img style */
        max-width: 100%;
    }
}


@media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }

    .plant-gallery img {
        max-width: 100%;
    }
}


@media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 33.3%;
    }

    .plant-gallery img {
        max-width: 100%;
    }
}


@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 25%;
    }

    .plant-gallery img {
        max-width: 100%;
    }
}

/****************************
  END DEFAULT GALLERY STYLES
 ****************************/

/****************************
  START CUSTOM GALLERY STYLES
 ****************************/



@media all and (max-width:768px) {
    /* Adds plant names to bottom of plant image by default */
    .titleBox {
        margin-bottom: 0!important;
    }

    .cb-container fieldset {
        font-family: "ubuntu", sans-serif;
        text-align: left;
        margin: 0 30px 10px 30px;
    }

    .cb-container fieldset:nth-child(1) {
        margin-top: 10px;
    }

    .cb-container fieldset:nth-child(4) {
        margin-bottom: 20px;
    }

    .cb-container legend {
        color: #FFBF00;
        text-align: center;
    }

    .cb-container label {
        color: #F9E7E7;
    }
}

@media all and (min-width:769px) {
    /* Adds plant names to bottom of plant image by default */
    /* Styles Checkboxs */
    .cb-container {
        text-align: center;
    }

    .cb-container fieldset {
        font-family: "ubuntu", sans-serif;
        display: inline;
        margin-bottom: 10px;
        text-align: left;
        margin-right: 2%
    }

    .cb-container fieldset:nth-child(1) {
        padding-top: 18px;
        margin-left: 2%;
    }

    .cb-container fieldset:nth-child(2) {
        padding-top: 0;
        margin-top: 10px;

    }

    .cb-container fieldset:nth-child(3) {
        padding-top: 39px;

    }

    .cb-container fieldset:nth-child(4) {
        padding-top: 39px;
    }

    .cb-container legend {
        color: #FFBF00;
        text-align: center;
    }

    .cb-container label {
        color: #F9E7E7;
    }

}
/****************************
   END CUSTOM GALLERY STYLES
 ****************************/